<div class="container left-container">

<p id="notice"><%= notice %></p>

<div class="bottom-links">
	<div type="button" class="link-left">
		<i class="fa fa-arrow-left"></i>
		<% if @first %>
			<%= link_to "Back to lesson", step_path(@question.step)%>
		<% else %>
			<%= link_to 'Previous', {:id => @question.id - 1} %>
		<% end %>
	</div>
	<div type="button" class="link-right">
		Next: &nbsp;
		<% if @last %>
			<%= link_to "Save and finish", chapter_path(@question.step.chapter) %>
		<% else %>
			<%= link_to 'Save and continue', {:id => @question.id + 1} %>
		<% end %>

		<i class="fa fa-arrow-right"></i>
		</div>
</div>

<h2>
	<strong><%= @question.step.title %></strong>
</h2>

<p>
  <h3><%= @question.title %></h3>
</p>


<% if @question.style == 'MEDIA' %>
	<iframe src=<%= @question.choices %> width="760" height="515" frameborder="0" allowfullscreen=""></iframe>
<% end %>

<% if @question.style == 'MC' %>
	<%= form_with(model: @question, local: true) do |form| %>

		<% @choices.each do |choice| %>
			<strong><%= choice['statement'] %> </strong><br>

			<% choice['options'].each do |option| %>
	    	<%= form.check_box :choice['statement'], { multiple: false }, option %>
				<%= option %><br>

			<% end %><br>

		<% end %>
	<% end %>
<% end %>


<% if @question.style == 'SA' %>
	<strong><%= @question.instructions %> </strong><br>
	<%= form_with(model: @question, local: true) do |form| %>
		<textarea cols="100" rows="20">

    </textarea>
	<% end %>
<% end %>


<% if @question.style == 'MA' %>
	<strong><%= @question.instructions %> </strong><br>
	<% @choices['items'].each do |item| %>
		<p><%= item %></p>
		<%= select_tag "city", options_for_select(@choices['definitions']) %><br><br>
	<% end %>
<% end %>

</div>