<div class="container centered course-container">

<p id="notice"><%= notice %></p>

<!-- <h1>	<%= link_to @step.chapter.title, chapter_path(@step.chapter) %></h1> -->

<h3>
  <strong><%= @step.title %></strong>
</h3>

<p>
  Watch the following before moving on:
</p>

<iframe src=<%= @step.media %> width="760" height="515" frameborder="0" allowfullscreen=""></iframe>

<% if @step.media2 %>
	<iframe src=<%= @step.media2 %> width="760" height="515" frameborder="0" allowfullscreen=""></iframe>
<% end %>

<div type="button">Next: <%= link_to @questions.first.title, @questions.first %></div>

</div>