<div class="container centered course-container">

<p id="notice"><%= notice %></p>

<!-- <h1>	<%= link_to @step.chapter.title, chapter_path(@step.chapter) %></h1> -->

<div class="bottom-links">
	<div type="button" class="link-left">
		<i class="fa fa-arrow-left"></i>
		<%= link_to "Back to chapter", chapter_path(@step.chapter)%></div>
	<div type="button" class="link-right">
		Next: &nbsp; <%= link_to @questions.first.title, @questions.first %>
		<i class="fa fa-arrow-right"></i>
		</div>
</div>

<h3>
  <strong><%= @step.title %></strong>
</h3>

<p>
  Watch the following before moving on:
</p>

<% if @step.media2 %>
	<% if @step.media %>
		First video: <a href="<%= @step.media %>" target="_blank"><%= @step.media %></a><br>
		Second video: <a href="<%= @step.media2 %>" target="_blank"><%= @step.media2 %></a><br><br>
	<% else %>
		Link to video: <a href="<%= @step.media2 %>" target="_blank"><%= @step.media2 %></a><br><br>
	<% end %>

<% elsif @step.media %>
	<iframe src=<%= @step.media %> width="760" height="515" frameborder="0" allowfullscreen=""></iframe>

<% else %>
	Video not yet uploaded<br><br>
<% end %>

</div>