<div class="container centered course-container">


<p id="notice"><%= notice %></p>

<h1>
    <%= @chapter.title %>
</h1>

<h3>Lessons</h3>

  <% @steps.each do |step| %>
    <div class="card-main course-card">
    	<h2><%=step.title%></h2><div class="button step-button"><%= link_to "start", step %></div>
  	</div>
  <% end %>

  <div class="card-main course-card">
  	<h2>Resources</h2><div class="button step-button"><%= link_to "View", resources_path(:id => @chapter.id) %></div>
	</div>

<%= link_to 'Back to chapters list', chapters_path %>

</div>